@{
    ViewData["Title"] = "EvolutionChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form >
    <table>
        <tr>
            <td><label>Размер полуляции</label></td>
            <td><input type='number' max="20" name="PopulationSize" value="5"/></td>
            <td><input id="sendBtn" type="button" value="Submit" onclick="SendPopulation(this)" /></td>
        </tr>
    </table>
</form>
<input id="NextGeneration" value="Новое поколение" type="button" onclick="Evolve()" />
<input id="while" value="Запуск алгоритма" type="button" onclick="WhileEvolve()" />
<br />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/main.js"></script>
<div class="column">
    <div id="ChartArea" class="column-item">
        <canvas id="myChart"></canvas>
    </div>
    <div id="tableArea" class="column-item">

    </div>
</div>
